/*-Default element style (use together with reset.css)-*/

	/*Body*/

	/**
	* The `height: 100%` makes the rendered content of the document span the entire screen.
	*/
	html { height: 100%; }
	body {
			font-size: 1em;
	}
	
	/*Tables*

	.element-table thead {
			border-bottom: 0.1em solid black;
			margin-bottom: 1em;
			font-size: 1.25em;
			line-height: 2em;
	}
	.element-table tbody {
			border-bottom: 0.1em solid black;
	}
	.element-table > thead th {
			line-height: 2em;
			text-align: center;
	}
	.element-table > tbody td {
			line-height: 2em;
			text-align: left;
	}
	.element-table > tbody > tr:nth-child(2n - 1) {
			background-color: #eeeeee;
	}
	.element-table > tbody > tr:nth-child(2n) {
			background-color: #fefefe;
	}

	/*Links.*/
	
	a { cursor: pointer; text-decoration: none; font: inherit ; color: inherit ; }
	
	/*Forms.*/
	
	.form { }
	.form label,
	.form select,
	.form textarea {
			display: block;
			margin-top: 0.5em;
	}
	.form select,
	.form textarea,
	.form input[type="password"],
	.form input[type="text"] {
			padding: 0.5em;
			width: 100%;
			font-size: 1em;
			line-height: 1.25em;
			background-color: #fff;
			border: 1px solid #373737;
	}
	.form button {
			margin-top: 0.5em;
	}

	/*Buttons.*/

	button,
	input[type="submit"]
	{
		cursor: pointer;
	}

	.button {
		display: inline;
		padding: 0.25em 1em;
		border: 0.1em solid black;
		font-size: inherit;
		background-color: transparent;
		color: black;
	}